/*.container {
    width: 960px;
}*/

@media (min-width: 1200px) {
    .container {width: 960px}
}

.logo {
    margin-top: 20px;
}

.img-border {
    border: 1px solid #4d4d4d;
}

hr {
    width: 100%;
    height: 3px;
    background-color: #bfbfbf;
    color: #bfbfbf;
    border: 0 none;
    margin: 20px auto;
}